.App-header {
  background-color: black ;
  min-height: 10vh;
  width: 100%;
  
  
}

.header-font {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #FBDD03;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body-component{
  font-family: 'Poppins', sans-serif;
  /* display: flex; */
  color: white;
  font-size: 1.5rem;
  background-color: black ;
  padding: 3rem;
  min-height: 12rem;
  text-align: left;
}

.button {
  background-color: #FBDD03;
  font-size: 2rem;
  padding: 2.5rem;
  margin: 1rem;
  min-height:12rem;
  max-height: 12rem;
  color: black
}

.box-header {
  /* min-height: 5vh;
  width: 100%; */
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: black;
  padding: 1.5rem
}
.category-header{
  background-color: rgb(40, 37, 37) ;
  min-height: 5vh;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 2rem;
  text-align: left;
  
}

.font-link {
  font-family: 'Poppins', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
