
.App-header {
  background-color: black ;
  min-height: 10vh;
  width: 100%;
  
  
}
a {
  text-decoration: none; 
  color: black; 
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20rem;
}
.box-text{
  font-size: 2rem;
  color: #FBDD03;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  
}
.header-font {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: #FBDD03;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body-component{
  font-family: 'Poppins', sans-serif;
  /* display: flex; */
  color: white;
  font-size: 1.5rem;
  background-color: black ;
  padding-top: 4rem;
  min-height: 9rem;
  margin-bottom: 3rem;
  
}

.button {
  background-color: #FBDD03;
  font-size: 1.8rem;
  padding: 2rem;
  margin: 1rem;
  min-height:9rem;
  max-height: 8rem;
  color: black
}

.box-header {
  /* min-height: 5vh;
  width: 100%; */
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 1.5rem
}
.category-header{
  background-color: rgb(40, 37, 37) ;
  min-height: 5vh;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 2rem;
  text-align: left;
  
}

.choose-account-container{
  background-color: "white";
  width:"50%";
  margin-bottom: 2rem
}

.font-link {
  font-family: 'Poppins', sans-serif;
}

.welcome-text{
  color:#FBDD03;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 770px) {
  .choose-account-container {
    width: 100%;
    margin-bottom: 2rem;
    background-color: white;
  }
}

@media screen and (min-width: 771px) {
  .choose-account-container {
    width: 50%;
    margin-bottom: 2rem;
    background-color: white;
    min-height: 13rem;
  }
}